.git/
.github/
**/__pycache__/
**/*.pyc
.pytest_cache/
venv/
airflow_venv/
airflow_home/
mlruns/
mlartifacts/
mlflow.db
models/*
!models/.gitkeep
raw_data/*.json
raw_data/torch_datasets/
clean_data/*.csv
clean_data/parquet/
logs/*.log
.env
*.patch
